.nav {
  
  width:100%;
  height: 500px;
  background-image: url("./Assets/Hero-bg.png") ;
}
.nav-div{
display: flex;
  justify-content: space-between;
}
.nav-button {
 padding:15px 30px ;
 font-size: 12px;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  background-color:#4E47FF;
}
.nav-img{
    color: #4E47FF;
    font: bold;
    margin-top: 20px;
}
.nav-h1{
    text-align: center;
    font: bold;
    font-size: 30px;
   
}
.h1{
    font: bold;
      font-size: 50px;
     color:#4E47FF;
     line-height: 0px;    
}
.L-div{
  padding-bottom: 60px;
}
.banner{
    display: flex;
     margin-top: 10px;
    justify-content: space-around;
}
.banner-p{
   color: gray;
}
.banner-img{
    border-radius: 15px;
    margin-top: 10px;
}
.h2{
    margin-top: 50px;
    text-align: center;
    font: bold;
    padding-top: 30px;
  
}
.div{

  background-color: #EADDFF;
  width: 950px;
  border-radius: 25px;
  justify-items: center;
  margin: auto;
}
.div-2{
    display: flex;
    justify-items: space-between;
    gap: 90px;
    
}
.div-p{
line-height: 0;
color: gray;
}
.div-h1{
  font-size: 40px;
  font: bold;
  text-align: center;
  margin-top: 50px;
}
.card{
height: 250px;
width: 300px;
border-radius: 1px red;
background-color:#F2FFFF;
}
.cd{
padding-top: 15px;
}
.card-div{
  display: flex;
  gap: 8px;
 
}
.card-img{
 border-radius: 50%;
}
.card-h{
  padding-top: 5px;
  color: gray;
}
.card-p{
  margin-bottom: 10px;
  color: gray;
}.cd-div{
  display: flex;
  gap: 15px;
  justify-content: center;
}
.extra-h{
  font: bold;
  font-size: 40px;

}
.extra-div{
  justify-items: center;
  margin-bottom: 10px;
  background-color: #F2FFFF;
}
.div-img{
  align-items: center;
  display: block;
 margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
}
.div-2{
  display: flex;
  justify-content: center;
 padding-top: 55px;
}
.div-2h1{
  font-size: 60px;
  font: bold;
}
.form{
  display: inline;
}
.div-3{
  padding-top: 15px;
}
.footer-img{
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
.footer-p{
  font-size: 15px;
  color: gray;
}
.div-f{
  display: flex;
  font-size: 15px;
  color: gray;
 justify-content: center;
 gap:15px
}